<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturación</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <h1>Modulo - Facturación</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Main</a></li>
                <li><a href="./inventario.html">Inventario</a></li>
                <li><a href="./ventas.html">Ventas</a></li>
                <li><a href="./sitio_web.html">Sitio Web</a></li>
            </ul>
        </nav>
    </header>
    <h2>Modulo - Facturación</h2>
    <p>El módulo de Facturación permite generar y gestionar facturas de manera automática a partir de ventas o compras.</p>

  <h2>¿Cómo se usa?</h2>
  <ul>
    <li>Se accede al módulo <strong>Facturación</strong> desde el panel principal.</li>
    <li>Al confirmar un pedido de venta, se genera una factura automáticamente.</li>
    <li>Las facturas se pueden enviar por correo o descargar en PDF.</li>
    <li>Odoo permite configurar métodos de pago, impuestos y ver el estado de cobro.</li>
  </ul>

  <!-- Imagen del panel de facturas -->
  <p><strong>Listado de facturas:</strong></p>
  <img src="../img/facturacion/facturas.jpg" alt="Facturas Odoo" width="600">

  <!-- Imagen de una factura -->
  <p><strong>Factura generada:</strong></p>
  <img src="../img/facturacion/facturaPDF.jpg" alt="Factura PDF" width="600">

  <h2>¿Por qué lo elegimos?</h2>
  <p>
    Automatiza la contabilidad, mejora el control financiero y reduce errores. Es clave para llevar una gestión clara de ingresos y pagos.
  </p>
  <a href="#" class="boton-inicio-flotante" title="Volver al inicio">↑</a>
</body>
</html>