<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <h1>Modulo - Ventas</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Main</a></li>
                <li><a href="./inventario.html">Inventario</a></li>
                <li><a href="./sitio_web.html">Sitio Web</a></li>
                <li><a href="./facturacion.html">Facturación</a></li>
            </ul>
        </nav>
    </header>
    <section>
    <h2>Modulo - Ventas</h2>
    <p>El módulo de Ventas permite gestionar presupuestos, pedidos de clientes y contratos de forma rápida y eficiente.</p>

  <h2>¿Cómo se usa?</h2>
  <ul>
    <li>Desde el menú principal, accedemos a <strong>Ventas</strong>.</li>
    <li>Se crean presupuestos personalizados que se pueden enviar directamente al cliente.</li>
    <li>Al confirmar un presupuesto, se genera un pedido de venta automáticamente.</li>
    <li>Está vinculado con los módulos de Inventario y Facturación para automatizar entregas y pagos.</li>
  </ul>


  <p><strong>Vista general de presupuestos:</strong></p>
  <img src="../img/ventas/ventas.png" alt="Panel de Ventas en Odoo" width="600">

  <p><strong>Ejemplo de presupuesto:</strong></p>
  <img src="../img/ventas/ventas_descr.png" alt="Presupuesto en Odoo" width="600">

  <h2>¿Por qué lo elegimos?</h2>
  <p>
    Es fundamental para cualquier negocio que venda productos o servicios. Facilita el seguimiento de los pedidos, mejora la atención al cliente y agiliza el proceso de facturación.
  </p>
  <a href="#" class="boton-inicio-flotante" title="Volver al inicio">↑</a>
</section>
</body>
</html>